<configuration>
	<connectionStrings>
		<add name="DBConnStr" providerName="System.Data.OleDb" connectionString="Provider=SQLOLEDB;Server=APPSCAN-IMG04;database=altoro;Integrated Security=SSPI;"/>
	</connectionStrings>
	<system.web>
		<authentication mode="Windows"/>
		<compilation debug="true" defaultLanguage="C#"/>
		<customErrors mode="On" defaultRedirect="~/servererror.aspx">
			<error statusCode="404" redirect="~/notfound.aspx"/>
		</customErrors>
		<httpRuntime enableHeaderChecking="false"/>
		<pages buffer="true" enableViewState="false" enableViewStateMac="false" viewStateEncryptionMode="Never" validateRequest="false"/>
		<xhtmlConformance mode="Legacy"/>
	</system.web>
</configuration>
